/* TODO define variable attribute default*/

.container-flex--column {
    flex-direction: column;
}

.wrapper-main-container {
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    border-radius: 4px;
}

.action-link-table {
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.action-link-table ul {
    display: flex;
    padding: 8px 4px;
}

.action-link-table ul li {
    margin: 0 6px;
}

.action-link-table ul li button {
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.action-link-table .add,
.action-link-table .export-excel {
    background-color: #9df99d;
}

.action-link-table .export-pdf {
    background-color: #e1ec86;
}

.action-link-table .delete {
    background-color: #efcaca;
}

.action-link-table ul li button:hover {
    opacity: 0.8;
}

/* Table product */
.table-product {
    width: 100%;
    margin-top: 12px;
}

.table-product>.wrapper-table-product {
    padding: 8px 10px;
}

.table-product table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.table-product thead,
.table-product tbody,
.table-product tr,
.table-product th,
.table-product td {
    border-bottom: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    font-size: 14px;
}

.table-product th,
.table-product td {
    padding: 8px 0;
    border: 1px solid #cfcfcf;
}

/* Filter table */
.search-table-product {
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
}

.search-table-product>.name {
    font-size: 16px;
    font-weight: 500;
}

.search-table-product>.wrapper-search {
    display: flex;
    align-items: center;
}

.wrapper-search div {
    margin: 0 6px;
    padding: 8px 0;
}

.search-option select,
.search-value input {
    padding: 8px 12px;
    width: 160px;
    font-size: 14px;

    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.search-value input {
    width: 220px !important;
}

.search-option select {
    cursor: pointer;
}

.btn-search button {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    font-size: 14px;
    padding: 8px 24px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-search button:hover {
    background-color: rgb(0 0 0 / 10%);
}

.btn-search button:active {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Paginations */

.pagination-table-product {
    width: 100%;
}

.wrapper-pagination {
    display: flex;
    justify-content: right;
    align-items: center;
}

.wrapper-pagination>div {
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.wrapper-qty-row>div,
.wrapper-action-table>div {
    padding: 2px 6px;
}

.wrapper-action-table {
    font-weight: 500;
    font-size: 18px;
}

.wrapper-action-table>.index,
.wrapper-qty-row {
    font-size: 12px;
    font-weight: 400;
    margin: 0 !important;
}

.wrapper-action-table>.previous:hover,
.wrapper-action-table>.next:hover {
    background-color: rgb(0 0 0 / 10%);
    border-radius: 3px;
    cursor: pointer;
}

.wrapper-action-table>.previous:active,
.wrapper-action-table>.next:active {
    background-color: rgba(0, 0, 0, 0.2);
}
