* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    line-height: 1.45;
    font-family: 'Public Sans', sans-serif;
}

/* Header */
header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    text-align: center;
    margin-bottom: 24px;
    background-color: #333333;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container-header {
    width: 90%;
    margin: 0 auto;
}

.container-header--flex {
    display: flex;
}

.wrap-logo {
    width: 20%;
    padding: 10px 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.wrap-logo>a {
    display: flex;
}

.wrap-logo>a>img {
    width: 100%;
    max-height: 35px;
}

.wrap-link {
    width: 45%;
    justify-content: center;
    display: flex;
    align-items: center;
    /* padding: 0 15px; */
}

.main-link {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-link>li {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

.main-link>li>a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: white;
}

.wrap-search {
    width: 20%;
    display: flex;
    align-items: center;
}

.wrap-search>form {
    width: 100%;
}

.wrap-search>form>input {
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 8px;
    outline: none;
    background: white;
}

.wrap-action {
    width: 15%;
    display: flex;
    justify-content: center;
}

.wrap-action a {
    color: white;
}

.wrap-action>.account,
.wrap-action>.cart {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 16px;
}

.sticky {
    position: sticky;
}

/* Footer */


footer {
    background-color: #333333;
    color: white;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    margin-top: 24px;
}

.footer-container {
    border-bottom: 1px solid #e7e7e7;
    padding: 32px 0;
}

.wrap-info-footer {
    display: flex;
}

.wrap-info-footer>div {
    width: 25%;
    padding: 0 12px;
}

.wrap-copyright {
    font-size: 12px;
    padding: 8px 0;
}



/*  */
/*  */
/*  */
/*
profile
*/
/*  */
/*  */
/*  */

.profile-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 auto;
    padding: 0 100px;
    height: 100%;
}

.wrapper-avatar {
    text-align: center;
    margin-bottom: 20px;
}

.wrapper-avatar p {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
}

.wrapper-avatar img {
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.profile-section .form-line-btn {
    justify-content: center;
}


#main {
    width: 84%;
}