<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <title>Header</title>
    <header class="header">
        <div class="container-header">
            <div class="container-header--flex">
                <div class="wrap-logo">
                    <a href="#"><img src="img/demo.png" alt=""></a>
                </div>
                <div class="wrap-link">
                    <ul class="main-link">
                        <li><a href="#">Home</a></li>
                        <div class="dropdown-home"></div>
                        <li><a href="#">Products</a></li>
                        <div class="dropdown-product"></div>
                        <li><a href="#">Store</a></li>
                        <li><a href="#">Blogs</a></li>
                        <div class="dropdown-blog"></div>
                    </ul>
                </div>
                <div class="wrap-search">
                    <form action="#" method="get">
                        <input type="text" name="" id="" placeholder="Search here">
                    </form>
                </div>
                <div class="wrap-action">
                    <div class="account">
                        <a href="#">Accounts</a>
                    </div>
                    <div class="cart">
                        <a href="#">Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="cart">
        <div class="container">
            <div class="cart-top-wrap">
                <div class="cart-top">
                    <div class="cart-top-cart cart-top-item">
                        <i class="fa-solid fa-cart-shopping "></i>
                    </div>
                    <div class="cart-top-adress cart-top-item">
                        <i class="fa-sharp fa-solid fa-location-dot "></i>
                    </div>
                    <div class="cart-top-payment cart-top-item">
                        <i class="fa-solid fa-money-check-dollar"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="cart-content-row">
                <div class="cart-content-left">
                    <table>
                        <tr>
                            <th>Sản Phẩm</th>
                            <th>Tên Sản Phẩm</th>
                            <th>Size</th>
                            <th>Số Lượng</th>
                            <th>Thành Tiền</th>
                            <th>Xóa</th>
                        </tr>
                        <tr>
                            <td><img src="img/giay12.jpeg" alt=""></td>
                            <td>
                                <p>Giày Adidas Siêu Cấp</p>
                            </td>
                            <td>37</td>
                            <td><input type="number" value="1" min="1"></td>
                            <td class="cart-content-left-gia">
                                <p>489.000 <sup>đ</sup></p>
                            </td>
                            <td class="trash-can"><i class="fa-regular fa-trash-can"></i></td>
                        </tr>
                        <tr>
                            <td><img src="img/giay2.jpeg" alt=""></td>
                            <td>
                                <p>Giày Convert 1</p>
                            </td>
                            <td>37</td>
                            <td><input type="number" value="1" min="1"></td>
                            <td class="cart-content-left-gia">
                                <p>489.000 <sup>đ</sup></p>
                            </td>
                            <td class="trash-can"><i class="fa-regular fa-trash-can"></i></td>
                        </tr>

                    </table>
                </div>
                <div class="cart-content-right">
                    <table>
                        <tr>
                            <th colspan="2" style="font-size: 18px;">TỔNG TIỀN GIỎ HÀNG</th>
                        </tr>
                        <tr>
                            <td>TỔNG SẨN PHẨM</td>
                            <td>2</td>

                        </tr>
                        <tr>
                            <td>TỔNG TIỀN HÀNG</td>
                            <td>
                                <p>489.000 <sup>đ</sup></p>
                            </td>
                        </tr>
                        <tr>
                            <td>TẠM TÍNH</td>
                            <td>
                                <p style="color: balck; font-weight:bold ;">489.000 <sup>đ</sup></p>
                            </td>
                        </tr>
                    </table>

                    <div class="cart-contnet-right-text">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span>Miễn<span style="font-weight: bold;">đổi trả</span> đối với sản phẩm đồng giá / sale trên
                            50%</span>
                    </div>
                    <div class="cart-contnet-right-text1">
                        <i class="fa-solid fa-circle-check"></i>
                        <span>Đơn hàng của bạn được Miễn phí ship</span>
                    </div>
                    <div class="cart-contnet-right-button">
                        <button>TIẾP TỤC MUA SẮM</button>
                        <button>THANH TOÁN</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>