<link rel="stylesheet" href="style-admin.css">

<header>
    <div class="header">
        <div class="wrap-left">
            <div class="logo-item">
                <a href="#"><img width="100%" src="../../img/demo.png" alt=""></a>
            </div>
        </div>

        <div class="wrap-right">
            <div class="wrap-btn-sidebar">
                <div class="btn-sidebar">
                    <p>&equiv;</p>
                </div>
            </div>

            <div class="wrap-account">
                <p class="username">Hi, Quan nguyen</p>
                <a href="#" class="account-item">
                    <img height="100%"
                        src="https://scontent.fhan3-1.fna.fbcdn.net/v/t39.30808-1/292632272_771819347327081_4105857711716434746_n.jpg?stp=dst-jpg_p200x200&_nc_cat=105&ccb=1-7&_nc_sid=7206a8&_nc_ohc=gpma8syLllAAX_LTyZB&_nc_ht=scontent.fhan3-1.fna&oh=00_AfB_4QuPRUiqLmsA-oHRKVPlS4kveARBJwYuNQC1yRa4WQ&oe=63EE917A"
                        alt="logo">
                </a>
                <ul class="dropdown-account-link">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<aside>
    <div class="sidebar">
        <div class="wrap-link-sidebar">
            <ul class="link-page">
                <div class="link-title">
                    <h6>Controller</h6>
                </div>
                <li>
                    <a href="#"><span>1 </span>Dashboard</a>
                </li>
                <div class="link-title">
                    <h6>Configure</h6>
                </div>
                <li>
                    <a href="#"><span>2 </span>Accounts</a>
                </li>
                <li>
                    <a href="#"><span>3 </span>Notifications</a>
                </li>
                <li>
                    <a href="#"><span>4 </span>Configs</a>
                </li>
            </ul>
        </div>
    </div>
</aside>

<script src="admin.js"></script>