* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    line-height: 1.57;
    font-family: 'Public Sans',sans-serif;
    color: #262626;
    font-weight: 500;
    /* font-size: 0.9rem; */
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


.header {
    width: 100%;
    margin: 0 auto;
    height: 60px;
    color: #252a2b;
    font-size: 16px;
    /* border-bottom: #dddddd 1px solid; */

}

.wrap-left {
    float: left;
    background: white;
    height: 100%;
    width: 16%;
    border-right: #dddddd 1px solid;

}

.logo-item {
    height: 100%;
}

.logo-item>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    /* color: black;
    font-size: 32px;
    font-weight: bold; */
}

/* right */
.wrap-right {
    background: white;
    width: 84%;
    float: right;
    height: 100%;
    display: flex;
    padding: 8px;

    border-bottom: #dddddd 1px solid;

}

.wrap-btn-sidebar {
    display: flex;
    height: 100%;
    width: 4%;
    justify-content: center;
    align-items: center;
}

.btn-sidebar>p {
    background: #f0f0f0;
    font-size: 24px;
    font-weight: bold;
    color: #262626;
    cursor: pointer;
    padding: 2px 12px;

    border-radius: 5px;
}

.wrap-account {
    display: flex;
    align-items: center;
    width: 96%;
    height: 100%;
    /* copy o tren mang :)) */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.username {
    width: 95%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    letter-spacing: 0.5;
}

.account-item {
    width: 5%;
    height: 75%;
    text-align: center;
}

.account-item>img {
    border-radius: 50%;
}

.account-item>img:hover {
    opacity: 0.9;
}



/* dropdown account */
.dropdown-account-link {
    position: absolute;
    right: 0;
    top: 100%;
    width: 170px;
    padding: 10px;
    box-shadow: 0 0px 5px rgb(0 0 0 / 10%);
    background: #fff;
    border: none;
    border-radius: 5px;
    display: none;
}

.dropdown-account-link>li {
    width: 100%;
    text-align: left;
    overflow: hidden;
}

.dropdown-account-link>li>a {
    padding: 10px;
    float: left;
    color: black;
    width: 100%;
}

.dropdown-account-link>li>a:hover {
    background: #F1F2F7
}

.open-dropdown {
    display: block;
}

/* side bar */

.sidebar {
    width: 16%;
    height: 100%;
    background: white;

    border-right: #dddddd 1px solid;
}

.close {
    display: none;
}

.max-width {
    width: 100% !important;
}

.wrap-link-sidebar {
    width: 100%;
    height: 100%;
}

.link-page {
    overflow: hidden;
    padding-top: 24px;
}

.link-page li a {
    text-align: initial;
    color: black;
    padding: 16px 0;
    display: block;
    padding-left: 32px;
    letter-spacing: 1;
}

.link-page>li {
    float: left;
    width: 100%;
}

.link-page>li:hover {
    background-color: #e6f7ff;
}

.link-page>li:active {
    background-color: #e6f7ff;
}

.link-title {
    padding-left: 24px;
}

.link-title>h6 {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    color: #8c8c8c;
}