<link rel="stylesheet" href="style.css">
<title>Header</title>
<header class="header ">
    <div class="container">
        <div class="flex-container">
            <div class="wrap-logo">
                <a href="#"><img
                        src="../../img/demo.png"
                        alt=""></a>
            </div>
            <div class="wrap-link">
                <ul class="main-link">
                    <li><a href="#">Home</a></li>
                    <div class="dropdown-home">

                    </div>
                    <li><a href="#">Products</a></li>
                    <div class="dropdown-product">

                    </div>
                    <li><a href="#">Store</a></li>
                    <li><a href="#">Blogs</a></li>
                    <div class="dropdown-blog">

                    </div>
                </ul>
            </div>
            <div class="wrap-search">
                <form action="#" method="get">
                    <input type="text" name="" id="" placeholder="Search here">
                </form>
            </div>
            <div class="wrap-action">
                <div class="account">
                    <a href="#">Accounts</a>
                </div>
                <div class="cart">
                    <a href="#">Cart</a>
                </div>
            </div>
        </div>
    </div>
</header>

<main style="text-align: center; width: 90%; margin: 20px auto; background-color: #f7f7f7;">

    A few years ago, Reelgood acquired Guidebox, a startup that supplied streaming data services to individual
    developers as well as large companies like Roku and Metacritic. The Guidebox API is still available for developers
    with indexed content from more than 240 streaming services. Guidebox claims to have the most accurate coverage in
    the data services industry, approaching 97% for Netflix and Hulu and 94% overall. Contact Guidebox for pricing.
    The cord-cutting era has made streaming availability a blessing and a curse. People can stream their favorite TV
    shows and movies from anywhere. However, the content they want to watch is scattered across hundreds of streaming
    services. Some services are free with ads, some require subscriptions and others charge rental fees. Thanks to
    streaming availability APIs, you can make things a lot easier for the users of your app or website.

    But which ones are the best fit for you? To answer that question, we’ve listed 8 streaming availability APIs that
    cover the range from student developers to startups to major companies.

    Flixed Streaming Availability API for Developers
    Flixed’s mission is to make streaming easier for everyone through our content, data insights and services like our
    Local TV Guides. We have also developed our own Streaming Metadata API that covers the top American streaming
    services.

    But we recognize that there’s no one-size-fits-all solution. That’s why we’re sharing some of what we learned about
    the streaming API industry by featuring these alternatives.

    Streaming Availability APIs for Projects of All Sizes
    Whether you’re a student working on a class project, a web developer wanting to enhance your site’s user experience,
    or an app developer that needs to add global coverage to your content services, one of these companies has the
    streaming availability API for you.

    Gracenote
    A subsidiary of media research firm Nielsen, Gracenote provides data services to the global sports and entertainment
    industries. The company’s data services include million-title catalogs of movies and TV shows, all indexed across
    popular on-demand services. Additional metadata lets you enhance your app by displaying content images,
    descriptions, cast, crew and more. Gracenote’s discovery features let you tailor recommendations and other content
    to your users’ preferences and search behaviors. Large enterprises from Apple to Tesla rely on Gracenote’s APIs, but
    the company also supports startups. Contact Gracenote to discuss pricing.

    Internet Video Archive
    Businesses as varied as Comcast, Plex and MediaHound use the Internet Video Archive (IVA) APIs to develop their
    content platforms. IVA got its start 15 years ago by distributing movie trailers to video rental stores. As the
    industry evolved to streaming, IVA adapted to provide a wide range of data services. You can get data on millions of
    titles from Netflix, Amazon, Google Play and Hulu.

    IVA offers free trials to its various solutions. The Entertainment Discovery solution costs $1500 per month and is
    limited to movies and TV shows aired or released within the past 365 days. For more comprehensive coverage, IVA’s
    All Access solution provides access to its entire database for $2500 per month.

    The Movie Database
    More than 400,000 developers rely on The Movie Database’s (TMDB) APIs to power their sites and apps. TMDB is a
    community-driven service that has crowdsourced TV and movie metadata since 2008. International coverage is a
    particular strength with content coverage and support for nearly 40 languages. At the moment, access to TMDB’s APIs
    is free for all users provided they comply with TMDB’s attribution rules. The API service does reserve the right to
    charge commercial accounts.

    Watchmode
    Finding streaming availability API providers for the big services is pretty easy. But what if your project focuses
    on specific genres such as anime or horror? That’s where companies like Watchmode come in. Its database indexes
    content in the catalogs of more than 200 on-demand streaming services. As comprehensive as Watchmode’s service is,
    however, country support is limited to Australia, Canada, Great Britain and the United States. To try Watchmode out,
    sign up for their free Developer plan. It gives non-commercial projects 1,000 calls per month. Commercial projects
    have several options based on their call volume, starting at $249 per month.

    JustWatch
    Berlin-based JustWatch is one of the largest streaming search services in the world. In addition to serving the
    content-consuming public, JustWatch offers a number of business services. The data it collects on users’ search
    activities (and their profiles) powers a movie marketing operation. JustWatch also offers an availability API that
    covers hundreds of streaming services in more than 50 countries. API customers can also access JustWatch’s consumer
    behavior data to power recommendations and other features. Contact JustWatch to learn more.

    Reelgood/Guidebox
    Reelgood and its subsidiary Guidebox provide streaming availability APIs that cover subscription, free-to-watch, and
    rental streaming services in the United Kingdom and the United States. In addition to its full-featured API,
    Reelgood offers WordPress plug-ins and JavaScript bundles for sites that want to add discovery features. Contact
    Reelgood to discuss pricing.

    A few years ago, Reelgood acquired Guidebox, a startup that supplied streaming data services to individual
    developers as well as large companies like Roku and Metacritic. The Guidebox API is still available for developers
    with indexed content from more than 240 streaming services. Guidebox claims to have the most accurate coverage in
    the data services industry, approaching 97% for Netflix and Hulu and 94% overall. Contact Guidebox for pricing.
    The cord-cutting era has made streaming availability a blessing and a curse. People can stream their favorite TV
    shows and movies from anywhere. However, the content they want to watch is scattered across hundreds of streaming
    services. Some services are free with ads, some require subscriptions and others charge rental fees. Thanks to
    streaming availability APIs, you can make things a lot easier for the users of your app or website.

    But which ones are the best fit for you? To answer that question, we’ve listed 8 streaming availability APIs that
    cover the range from student developers to startups to major companies.

    Flixed Streaming Availability API for Developers
    Flixed’s mission is to make streaming easier for everyone through our content, data insights and services like our
    Local TV Guides. We have also developed our own Streaming Metadata API that covers the top American streaming
    services.

    But we recognize that there’s no one-size-fits-all solution. That’s why we’re sharing some of what we learned about
    the streaming API industry by featuring these alternatives.

    Streaming Availability APIs for Projects of All Sizes
    Whether you’re a student working on a class project, a web developer wanting to enhance your site’s user experience,
    or an app developer that needs to add global coverage to your content services, one of these companies has the
    streaming availability API for you.

    Gracenote
    A subsidiary of media research firm Nielsen, Gracenote provides data services to the global sports and entertainment
    industries. The company’s data services include million-title catalogs of movies and TV shows, all indexed across
    popular on-demand services. Additional metadata lets you enhance your app by displaying content images,
    descriptions, cast, crew and more. Gracenote’s discovery features let you tailor recommendations and other content
    to your users’ preferences and search behaviors. Large enterprises from Apple to Tesla rely on Gracenote’s APIs, but
    the company also supports startups. Contact Gracenote to discuss pricing.

    Internet Video Archive
    Businesses as varied as Comcast, Plex and MediaHound use the Internet Video Archive (IVA) APIs to develop their
    content platforms. IVA got its start 15 years ago by distributing movie trailers to video rental stores. As the
    industry evolved to streaming, IVA adapted to provide a wide range of data services. You can get data on millions of
    titles from Netflix, Amazon, Google Play and Hulu.

    IVA offers free trials to its various solutions. The Entertainment Discovery solution costs $1500 per month and is
    limited to movies and TV shows aired or released within the past 365 days. For more comprehensive coverage, IVA’s
    All Access solution provides access to its entire database for $2500 per month.

    The Movie Database
    More than 400,000 developers rely on The Movie Database’s (TMDB) APIs to power their sites and apps. TMDB is a
    community-driven service that has crowdsourced TV and movie metadata since 2008. International coverage is a
    particular strength with content coverage and support for nearly 40 languages. At the moment, access to TMDB’s APIs
    is free for all users provided they comply with TMDB’s attribution rules. The API service does reserve the right to
    charge commercial accounts.

    Watchmode
    Finding streaming availability API providers for the big services is pretty easy. But what if your project focuses
    on specific genres such as anime or horror? That’s where companies like Watchmode come in. Its database indexes
    content in the catalogs of more than 200 on-demand streaming services. As comprehensive as Watchmode’s service is,
    however, country support is limited to Australia, Canada, Great Britain and the United States. To try Watchmode out,
    sign up for their free Developer plan. It gives non-commercial projects 1,000 calls per month. Commercial projects
    have several options based on their call volume, starting at $249 per month.

    JustWatch
    Berlin-based JustWatch is one of the largest streaming search services in the world. In addition to serving the
    content-consuming public, JustWatch offers a number of business services. The data it collects on users’ search
    activities (and their profiles) powers a movie marketing operation. JustWatch also offers an availability API that
    covers hundreds of streaming services in more than 50 countries. API customers can also access JustWatch’s consumer
    behavior data to power recommendations and other features. Contact JustWatch to learn more.

    Reelgood/Guidebox
    Reelgood and its subsidiary Guidebox provide streaming availability APIs that cover subscription, free-to-watch, and
    rental streaming services in the United Kingdom and the United States. In addition to its full-featured API,
    Reelgood offers WordPress plug-ins and JavaScript bundles for sites that want to add discovery features. Contact
    Reelgood to discuss pricing.

    A few years ago, Reelgood acquired Guidebox, a startup that supplied streaming data services to individual
    developers as well as large companies like Roku and Metacritic. The Guidebox API is still available for developers
    with indexed content from more than 240 streaming services. Guidebox claims to have the most accurate coverage in
    the data services industry, approaching 97% for Netflix and Hulu and 94% overall. Contact Guidebox for pricing.

</main>

<script src="dynamic.js"></script>


<link rel="stylesheet" href="style.css">

<footer>
    <div class="footer-info">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h2>Store system</h2>
                    <p>hn1</p>
                    <p>hn2</p>
                    <p>hn3</p>
                    <p>hn4</p>
                    <p>hn5</p>
                </div>
                <div class="col-4">
                    <h2>Rule & policy</h2>
                    <p>guide1</p>
                    <p>guide2</p>
                    <p>guide3</p>
                    <p>guide4</p>
                    <p>guide5</p>
                </div>
                <div class="col-4">
                    <h2>Address</h2>
                    <p>add1</p>
                    <p>add2</p>
                    <p>add3</p>
                    <p>add4</p>
                    <p>add5</p>
                </div>
                <div class="col-4">
                    <h2>Fanpage</h2>
                    <p>Fb1</p>
                    <p>Fb2</p>
                    <p>Fb3</p>
                    <p>Fb4</p>
                    <p>Fb5</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p>Copyright by Hoyoverse</p>
        </div>
    </div>
</footer>