* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
    color: #252a2b;
    font-size: 16px;

    padding: 0 60px;
    width: 100%;

    text-align: center;

    margin-bottom: 16px;
    box-shadow: 0 8px 12px 1px #252a2b30;

}

ul,
li {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;

}

.header-container {
    width: 100%;
    padding: 20px 0 10px;
    border-bottom: 1px solid rgb(88, 88, 88);

}

.col-4 {
    width: 33%;
    display: inline-block;
}

.wrap-logo {
    text-align: left;
}

.wrap-search input {
    width: 90%;
    float: left;
}

.wrap-search button {
    width: 10%;
    float: left;
}

.wrap-icon {
    text-align: right;
}

.meunu-container {
    width: 100%;
}

.nav {
    width: 33%;
    margin: 0 auto;
}

.nav-link>li {
    float: left;
    width: 25%;
    height: 100%;
}

.nav {
    background-color: #b9d4da;
    height: 32px;
}

.nav-link>li>a {
    height: 100%;
    display: block;
    padding: 8px 0;
}

.nav-link>li:hover {
    background-color: #85a3aa;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}