<link rel="stylesheet" href="style.css">

<header>
    <div class="nav">
        <div class="wrap-left">
            <ul class="wrap-logo-link">
                <li class="nav-logo">
                    <a href="#">
                        ADMIN
                    </a>
                </li>
                <li class="btn-sidebar">
                    <p>&equiv;</p>
                </li>
            </ul>
        </div>

        <div class="wrap-right">
            <div class="wrap-account">
                <p class="username">Hi, Quan nguyen</p>
                <a href="#" class="account-item" onclick="clickAccountItem()">
                    <img height="100%"
                        src="https://scontent.fhan3-1.fna.fbcdn.net/v/t39.30808-1/292632272_771819347327081_4105857711716434746_n.jpg?stp=dst-jpg_p200x200&_nc_cat=105&ccb=1-7&_nc_sid=7206a8&_nc_ohc=gpma8syLllAAX_LTyZB&_nc_ht=scontent.fhan3-1.fna&oh=00_AfB_4QuPRUiqLmsA-oHRKVPlS4kveARBJwYuNQC1yRa4WQ&oe=63EE917A"
                        alt="">
                </a>
                <ul class="dropdown-account-link">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sidebar">
        
    </div>
</header>


<script src="dynamic.js"></script>