*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
html {
    background-color: #f5f5f5;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
input,
select,
textarea {
    background-color: transparent;
    outline: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}
.container {

    width: 100%;
    height: 100%;
    padding-top: 100px;
}
nav {
    width: 80%;
    margin: 0 auto ;
    height: 150px;
    display: flex;
    background-color:white;
    justify-content: space-between;
    padding: 16px;
    border-radius: 5px;
}
.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: transform ease-in-out 0.3s;
    will-change: transform;
}
.nav-item img {
    margin: 0 0 5px 0;
    display: block;
    width: 80px;
    height: 80px;
}
.nav-item .item-text{
    display: block;
}
.nav-item :hover {

    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}
.list-product {
    width: 80%;
    margin: 50px auto;
    padding: 20px 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: white;
    border-radius: 10px;

}

.head-product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    align-items: center;
}
.head-product .brand{
    margin: 0 15px -2px 0;
    padding: 0 0 7px;
    color: #1d71ab;
    font-size: 26px;
    font-weight: 600;
}
.head-product .allProduct {
    color: #1d71ab;
    text-decoration: none;
    font-weight: 600;
    transition: transform ease-in-out 0.3s;

}
a:hover {
    color: red;
    transform: scale(1.1);
}

.grid {
    display: grid;
    /* align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; */
    grid-template-columns: 20% 20% 20% 20% 20% ;
    width: 100%;
    height: 300px;
    /* grid-template-rows: 100%;
    overflow: scroll; */
    /* overflow: hidden; */
    overflow-y:auto ;
}


.grid__column-2-4 {
    padding: 8px 6px;
    /* width: 20%;  */

}
.container-product{
    position: relative;
    margin-top: 30px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    position: relative;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: transform ease-in 0.1s;
    will-change: transform;
    margin-bottom: 20px;
    border-radius: 10px;
}

.home-product-item:hover {
    transform: translateY(-6px);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.home-product-item__properties {
    position: relative;
    margin: 10px 20px 0;
}

.home-product-item__img {
    padding-top: 100%;
    background: no-repeat top center / cover;
    width: 100%;
    border-top-right-radius: 2px 2px;

}
.home-product-item__name {
    font-size: 16px;
    font-weight: 600;
    color: #313131;
    line-height: 18px;
    height: 18px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

}

.home-product-item__infor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    color: #595959;
    font-weight: 500;

}
.home-product-item__quantity {
    font-size: 12px;
}

.home-product-item__price {
    font-size: 15px;
}
.home-product-item__add-cart {
    font-size: 18px;
    position: absolute;
    top: -48px;
    right: -12px;
    color: #000;
    padding:6px;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: 0.1s ease-in;

}
.home-product-item__add-cart:hover {
    opacity: 0.8;
    background-color: #DADCE0;
}

.fa-solid.fa-cart-plus {
    margin-top: 3px;
}

