<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<div class="container">
    <h1>My Profile</h1>
    <div class="logo-container">
        <img src="/New folder/images.jpg" alt="Logo"  class="logo">
        <p class=" name">Nguyễn Phú tâm </p>
        <a href="#">link profile</a>
    </div>
    <label for="first-name">
        <h2>User Name:</h2>
    </label>
    <p>A name that identifies you uniquely on this platform.</p>
    <div class="name-inputs">
        <input type="text" id="first-name" name="first-name" required placeholder="First Name">
        <input type="text" id="last-name" name="last-name" required placeholder="Last Name">
    </div>
    <label for="email">
        <h2>Login:</h2>
    </label>
    <p>Please enter your email and password to access your account.</p>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <input type="submit" value="Save">
</div>
</body>
</html>