<link rel="stylesheet" href="style-user.css">


<footer>
    <div class="footer-container">
        <div class="wrap-footer">
            <div class="flex-container">
                <div>
                    <h2>Store system</h2>
                    <p>hn1</p>
                    <p>hn2</p>
                    <p>hn3</p>
                    <p>hn4</p>
                    <p>hn5</p>
                </div>
                <div>
                    <h2>Rule & policy</h2>
                    <p>guide1</p>
                    <p>guide2</p>
                    <p>guide3</p>
                    <p>guide4</p>
                    <p>guide5</p>
                </div>
                <div>
                    <h2>Address</h2>
                    <p>add1</p>
                    <p>add2</p>
                    <p>add3</p>
                    <p>add4</p>
                    <p>add5</p>
                </div>
                <div>
                    <h2>Fanpage</h2>
                    <p>Fb1</p>
                    <p>Fb2</p>
                    <p>Fb3</p>
                    <p>Fb4</p>
                    <p>Fb5</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-copyright">
        <div>
            <p>Copyright by Hoyoverse</p>
        </div>
    </div>
</footer>