<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="trangpolicy.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>

<body>
    <title>Header</title>
    <header class="header ">
        <div class="container-header">
            <div class="container-header--flex">
                <div class="wrap-logo">
                    <a href="#"><img src="img/demo.png" alt=""></a>
                </div>
                <div class="wrap-link">
                    <ul class="main-link">
                        <li><a href="#">Home</a></li>
                        <div class="dropdown-home"></div>
                        <li><a href="#">Products</a></li>
                        <div class="dropdown-product"></div>
                        <li><a href="#">Store</a></li>
                        <li><a href="#">Blogs</a></li>
                        <div class="dropdown-blog"></div>
                    </ul>
                </div>
                <div class="wrap-search">
                    <form action="#" method="get">
                        <input type="text" name="" id="" placeholder="Search here">
                    </form>
                </div>
                <div class="wrap-action">
                    <div class="account">
                        <a href="#">Accounts</a>
                    </div>
                    <div class="cart">
                        <a href="#">Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="main">
        <div class="policy">
            <div class="policy-top">
                <a href="">Trang chủ </a><span> /</span>
                <span>Chính sách đổi trả</span>
            </div>
            <div class="policy-content">
                <div class="policy-content-left">
                    <h1>Chính sách đổi trả</h1>
                    <p style="font-weight: bold;">I.  HƯỚNG DẪN MUA HÀNG ONLINE</p>
                    <p style="font-weight: bold;">Bước 1: Chọn hàng</p>
                    <p>Quý Khách Hàng có thể xem thông tin các sản phẩm và đặt hàng trực tiếp trên các kênh mua sắm online chính thức của TokyoLife:</p>
                    <p>+ Livestream</p>
                    <p>+ Shopee:</p>
                    <p>+ Facebook:</p>
                    <p style="font-weight: bold;">Bước 2: Đặt hàng </p>
                    <p style="font-weight: bold;">a, Đặt hàng trên Shopee:   </p>
                    <p>+ Truy cập vào gian hàng chính hãng của TokyoLife trên Shopee: </p>
                    <p>+ Chọn sản phẩm và đặt mua.</p>
                    <p style="font-weight: bold;">b, Đặt hàng trên Facebook:  </p>
                    <p>+ Truy cập vào fanpage</p>
                    <p>+ Inbox hoặc Comment trên fanpage TokyoLife Online để được tư vấn và đặt hàng. </p>
                    <p style="font-weight: bold;">c, Đặt hàng qua điện thoại:   </p>
                    <p>+ Số điện thoại hotline & chăm sóc khách hàng: <span style="font-weight: bold;"> 0247.308.2882   </span> </p>
                    <p>+ Thời gian tiếp nhận cuộc gọi: 8h00 – 22h30 hàng ngày</p>
                    <p style="font-weight: bold;">Bước 3: Thanh toán:</p>
                    <p>* Lưu ý: Tất cả các hình thức đặt hàng với TokyoLife đều phải có xác nhận lại từ nhân viên TokyoLife qua hotline duy nhất: <span style="font-weight: bold;">0247.308.2882</span>, Quý Khách Hàng không tự chuyển tiền khi chưa có xác nhận.</p>
                    <p>* Các hình thức thanh toán:</p>
                    <p>+ Thanh toàn trực tiếp khi nhận hàng (COD)   </p>
                    <p>+ Thanh toán (chuyển khoản) qua STK: </p>
                    <p style="font-weight: bold;">Chủ tài khoản: Nguyễn Thị Hoài Thương </p>
                    <p style="font-weight: bold;">Số TK: 1026596289  </p>
                    <p style="font-weight: bold;">Ngân hàng: Vietcombank_CN Thành Công, Hà Nội</p>
                    <p style="font-weight: bold;">Nội dung chuyển khoản: Tên + SĐT</p>
                    <p>Khi có bất kỳ nghi vấn liên quan đến hành vi lừa đảo giao dịch, Quý Khách Hàng cần liên hệ ngay theo hotline <span span style="font-weight: bold;">0247.308.2882</span> hoặc nhắn tin qua fanpage TOKYOLIFE ONLINE để được hỗ trợ kịp thời.   </p>
                    <p  style="font-weight: bold;">II. CHÍNH SÁCH VẬN CHUYỂN & GIAO NHẬN</p>
                    <p style="font-weight: bold;">a, Đối tượng áp dụng:</p>
                    <p>Chính sách vận chuyển được áp dụng đối với tất cả các đối tượng Khách Hàng mua sản phẩm của TokyoLife thông qua các kênh mua sắm online chính thức của TokyoLife.  </p>
                    <p style="font-weight: bold;">b, Phạm vi áp dụng:</p>
                    <p>Áp dụng với tất cả các đơn hàng trên toàn quốc. </p>
                    <p style="font-weight: bold;">c, Phí vận chuyển:</p>
                    <p>- Áp dụng chính sách miễn phí vận chuyển với các đơn hàng có hóa đơn > 499k   </p>
                    <p>- Đồng giá 30.000đ áp dụng cho mọi đơn hàng</p>
                    <p style="font-weight: bold;">* Điều kiện đổi hàng:  </p>
                    <p>- Sản phẩm còn nguyên tem mác, chưa qua sử dụng, không bị bẩn, lỗi do tác động bên ngoài. Có thông tin mua hàng trên hệ thống.  </p>
                    <p>- Áp dụng 1 lần đổi / 1 đơn hàng. </p>
                    <p>- Tổng giá trị các mặt hàng muốn đổi phải có giá trị tương đương hoặc lớn hơn với mặt hàng trả lại. TokyoLife không hoàn lại tiền thừa trong trường hợp sản phẩm mới có giá trị thấp hơn sản phẩm đã mua. </p>
                    <p style="font-weight: bold;">* Các trường hợp từ chối đổi / trả:  </p>
                    <p>- Thời gian mua hàng quá 7 ngày (xác nhận dấu bưu điện hoặc của nhà vận chuyển) kể từ ngày nhận hàng.</p>
                    <p>- Sản phẩm tem mác không còn nguyên vẹn. </p>
                    <p>- Sản phẩm đã chỉnh sửa, đã qua sử dụng (bị bẩn, rách, hỏng, rút sợi, phai màu, có mùi hôi, mùi hóa chất khác thường), bị lỗi do những tác động bên ngoài sau khi mua.  </p>
                    <p style="font-weight: bold;">* Chính sách hoàn tiền: </p>
                    <p>Chỉ chấp nhận hoàn tiền khi sản phẩm có lỗi từ nhà sản xuất (rách vải trước khi sử dụng, lem màu, xước vải, phai màu… và đủ điều kiện tem mác) hoặc sản phẩm hết hàng không thể giao cho khách.  </p>
                    <p>- Một hoặc một vài sản phẩm trong đơn hàng không thể giao cho khách (hoàn tiền 1 phần tương đương giá trị món hàng)</p>
                    <p style="font-weight: bold;">- Thời gian hoàn tiền: Từ 1-3 ngày sau khi nhận được sản phẩm từ quý khách. TokyoLife sẽ tiến hàng hoàn tiền tới tài khoản của quý khách.  </p>
                    <p style="font-weight: bold;">III. Hướng dẫn sử dụng sản phẩm:  </p>
                    <p>- Quý khách vui lòng đọc kỹ và làm theo hướng dẫn sử dụng/bảo quản ghi trên tem mác sản phẩm. </p>
                    <p>- Quý khách tránh để sản phẩm tiếp xúc trực tiếp với dầu, chất tẩy rửa mạnh, ánh nắng hoặc để gần các sản phẩm may mặc có màu khác. </p>
                    <p>- Quý khách cần giặt khô với các sản phẩm chất liệu dạ, len, lụa.  </p>
                    <p>- Với chất liệu da, quý khách nên vệ sinh bề mặt với kem dưỡng, lớp lót xử lý với chất khử mùi. </p>
                    <p>Khuyến khích mang đến cơ sở làm sạch áo da uy tín.  </p>
                    <p>- Với sản phẩm phối hai hoặc nhiều màu, quý khách vui lòng không ngâm/giặt chung, nên giặt  bằng chất tẩy rửa nhẹ (như sữa tắm, dầu gội), vắt khô sau khi giặt và phơi nơi khô thoáng. </p>
                
                
                </div>
                <div class="policy-content-right">
                    <div class="policy-content-right-content">
                        <h3> <a href="">Danh mục page</a> </h3>
                        <ul>
                            <li> <a href="">Giới thiệu và liên hệ</a> </li>
                            <li> <a href="">Chính sách đổi trả</a> </li>
                            <li> <a href="">Chính sách tích điểm</a></li>
                            <li><a href="">Chính sách bảo mật</a></li>
                            <li><a href="">Điều khoản dịch vụ</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-container">
            <div class="wrap-info-footer">
                <div>
                    <h2>Store system</h2>
                    <p>hn1</p>
                    <p>hn2</p>
                    <p>hn3</p>
                    <p>hn4</p>
                    <p>hn5</p>
                </div>
                <div>
                    <h2>Rule & policy</h2>
                    <p>guide1</p>
                    <p>guide2</p>
                    <p>guide3</p>
                    <p>guide4</p>
                    <p>guide5</p>
                </div>
                <div>
                    <h2>Address</h2>
                    <p>add1</p>
                    <p>add2</p>
                    <p>add3</p>
                    <p>add4</p>
                    <p>add5</p>
                </div>
                <div>
                    <h2>Fanpage</h2>
                    <p>Fb1</p>
                    <p>Fb2</p>
                    <p>Fb3</p>
                    <p>Fb4</p>
                    <p>Fb5</p>
                </div>
            </div>
        </div>
        <div class="wrap-copyright">
            <p>Copyright by Hoyoverse</p>
        </div>
    </footer>
</body>