<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="order.css">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="content">
            <div>
                <table class="product-table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="product">
                            <td class="product-image">
                                <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lftlcddebbw76e_tn"
                                    alt="">
                            </td>
                            <td class="product-description">
                                <p class="description">
                                    [Mã BMLT35 giảm đến 35K đơn 99K] Hộp cơm thủy tinh chia ngăn cao cấp Yeahcook Glass
                                    Lunch Box 960ml
                                </p>
                                <p>
                                    Phân loại hàng: Xanh 2 Ngăn (1070ml)
                                </p>
                                <p>X 2
                                </p>
                            </td>
                            <td class="product-price td--right">
                                <p>
                                    75,000đ
                                </p>
                            </td>
                        </tr>
                        <tr class="product">
                            <td class="product-image">
                                <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lftlcddebbw76e_tn"
                                    alt="">
                            </td>
                            <td class="product-description">
                                <p class="description">
                                    [Mã BMLT35 giảm đến 35K đơn 99K] Hộp cơm thủy tinh chia ngăn cao cấp Yeahcook Glass
                                    Lunch Box 960ml
                                </p>
                                <p>
                                    Phân loại hàng: Xanh 2 Ngăn (1070ml)
                                </p>
                                <p>X 2
                                </p>
                            </td>
                            <td class="product-price td--right">
                                <p>
                                    75,000đ
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>