<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="signup.css" .css">
</head>

<body>
    <div class="container-signup">
        <div class="wrap-signup">
            <form action="" class="signup-form">
                <div class="signup-title">
                    <b>Đăng kí</b>
                </div>
                <!-- fullname -->
                <div class="signup-form-input">
                    <span class="signup-input-tittle">
                        Họ và tên
                    </span>
                    <input type="text" class="signup-input-area" placeholder="nhập họ và tên">
                </div>
                <!-- dob -->
                <div class="signup-form-input">
                    <span class="signup-input-tittle">
                        Ngày sinh
                    </span>
                    <input type="date" class="signup-input-area">
                </div>
                <!-- username -->
                <div class="signup-form-input">
                    <span class="signup-input-tittle">
                        Tên đăng nhập
                    </span>
                    <input type="text" class="signup-input-area" placeholder="nhập tên đăng nhập">
                </div>
                <!-- password -->
                <div class="signup-form-input">
                    <span class="signup-input-tittle">
                        Mật khẩu
                    </span>
                    <input type="text" class="signup-input-area" placeholder="nhập mật khẩu">
                </div>
                <!-- verify pw -->
                <div class="signup-form-input">
                    <span class="signup-input-tittle">
                        Nhập lại mật khẩu
                    </span>
                    <input type="text" class="signup-input-area" placeholder="nhập lại mật khẩu">
                </div>
                <!-- sex -->
                <div class="signup-form-input">
                    <span class="signup-input-tittle">
                        Giới tính
                    </span>
                    <div class="signup-radio">
                        <input type="radio" name="gender" id="male">
                        <label for="male">Nam</label>
                        <input type="radio" name="gender" id="female">
                        <label for="female">Nữ</label>
                    </div>

                </div>
                <!-- email -->
                <div class="signup-form-input">
                    <span class="signup-input-tittle">
                        Họ và tên
                    </span>
                    <input type="email" class="signup-input-area" placeholder="nhập email">
                </div>
                <!-- address  -->
                <div class="signup-form-input">
                    <span class="signup-input-tittle">
                        Địa chỉ
                    </span>
                    <input type="text" class="signup-input-area" placeholder="nhập địa chỉ">
                </div>
                <div class="signup-btn">
                    <button type="submit" class="signup-submit">Đăng ký</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>