*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*  chinh nav */
nav {
    background-color: #333;
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;

}

header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    text-align: center;
    margin-bottom: 24px;
    background-color: #c0bca6;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container-header {
    width: 90%;
    margin: 0 auto;
}

.container-header--flex {
    display: flex;
}

.wrap-logo {
    width: 20%;
    padding: 10px 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.wrap-logo>a>img {
    width: 100%;
    max-height: 35px;
}

.wrap-link {
    width: 45%;
    justify-content: center;
    display: flex;
    align-items: center;
    /* padding: 0 15px; */
}

.main-link {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-link>li {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

.main-link>li>a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: black;
}

.wrap-search {
    width: 20%;
    display: flex;
    align-items: center;
}

.wrap-search>form {
    width: 100%;
}

.wrap-search>form>input {
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 30px;
    padding: 10px;
}

.wrap-action {
    width: 15%;
    display: flex;
    justify-content: center;
}

.wrap-action a {
    color: black;
}

.wrap-action>.account,
.wrap-action>.cart {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 16px;
}

.sticky {
    position: sticky;
}
/*  */
/*phần sản cart*/
.fa-solid {
    color: black;
    padding-right:30px;
    font-size: 20px;

}
/* tao phan gior hang */

.header-cart {

    text-align: center;
}
.header-cart-wrap {
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    /* display: none; */
}
/* phan icon  */
.header__cart-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.header__cart-notice {
    position: absolute;
    top: -5px;
    right: 5px;
    padding: 1px 6px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    border-radius: 10px;
    border: 2px solid;
    font-weight: 400;
    color: white;
    background-color: #EE4D2D;
}



.header__cart-list {
    background-color: white;
    position: absolute;
    top: calc(100% +  4px);
    right: 1px;
    width: 420px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
    /* display: block; */
    z-index: 20;
}
/* tao nut mui ten  */
.serieel {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: -24px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    /* border-color: #000; */
}


/* hien thi khi chua co san pham  */
.no-cart {
    display: none;
}
.header__cart-no-cart-img {
    margin: 20px 0 10px;
    width: 54%;
}

.header__cart-list-no-cart-msg {
    font-size: 14px;
    padding: 10px 0 20px;
    color: #999;
}


/* phan xem khi da co san pham  */

.list-cart-item {
    display: none;
    /* display: block; */

}
.header__cart-heading {

    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 14px;
    color: #999;
    font-weight: 400;
}


.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 300px;
    overflow-y: auto;
}

/* css cho tung item khi co san pham */
.header__cart-item {
    display: flex;
    padding: 2px 12px;
    margin-bottom: 5px;
    margin-top: 5px;
    /* background-color: #EE4D2D; */
}

.header__cart-item-img {
    background-position: 50px 0;
    height: 60px;
    width: 70px;
}
.product-img {

    background-position: 50px 0;
    height: 60px;
    width: 70px;
}

.header__cart-list-item .header__cart-item:hover {
    background-color: #c7c4c4 ;
    cursor: pointer;

}
.item_hr{
    border-top: 2px dashed #ccc;
    width: 90%;
    margin: 0 auto;
}


.header__cart-item-info {
    display: flex;
    justify-content: space-between;
    margin: 8px;
    width: 100%;
}
.header__cart-item-info-name {
    color: #313131;
}
.header__cart-item-info-price {
    margin-top: 2px;
    font-size: 17px;
    color: #EE4D2D ;
}

/* phan button */
.list-cart-item-button {
    margin: 10px 12px;
    float: right;
    font-size: 16px;
    padding: 6px 12px;
    color: #fff;
    background-color: #EE4D2D;
    border: none;
    border-radius: 2px;
    height: 34px;
}

.list-cart-item-button:hover {
    opacity: 0.7;
    cursor: pointer;
}
